In [14]:
import pandas as pd 
from sklearn.linear_model import LinearRegression


import sys
print(sys.executable)

c:\Users\alimo\AppData\Local\Programs\Python\Python313\python.exe

In [11]:
data = pd.read_csv('hiring.csv')
data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [12]:
data['experience'] = data['experience'].fillna('zero')
data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [13]:
def safe_word_to_num(x):
    if pd.isna(x):
        return np.nan
    
    x = str(x).strip().lower()   # ðŸ”¥ THIS LINE FIXES IT
    
    try:
        return w2n.word_to_num(x)
    except Exception as e:
        print(f"Error converting: {x} -> {e}")
        return np.nan




data.experience = data.experience.apply(safe_word_to_num)
data

Error converting: zero -> name 'w2n' is not defined

NameError: name 'np' is not defined